<h1>Log In Below:</h1>

<form action="/sessions" method="POST">
    <p> Name: <input type="text" name="email" placeholder="Enter your email"></p>
    <p> Name: <input type="password" name="password" placeholder="Enter your password"></p>
    <button>Log In</button>
</form>

