<h1>Sign Up Below:</h1>
<form action="/registrations" method="POST">
    <p> Name: <input type="text" name="name" placeholder="Enter your name"></p>
    <p> Name: <input type="text" name="email" placeholder="Enter your email"></p>
    <p> Name: <input type="password" name="password" placeholder="Enter your password"></p>
    <button>Sign Up</button>
</form>


